
<footer class="py-3 footer bg-dark mt-auto">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="/campgrounds" class="nav-link px-2 fw-bold text-muted">Campground</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 fw-bold text-muted">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 fw-bold text-muted">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 fw-bold text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="/help/about" class="nav-link px-2 fw-bold text-muted">About</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2021 Phakh-Campers Copyrights</p>
    </div>
</footer>
