<nav>
  <form action="/campgrounds" method="get" class="d-inline">
    <input
      style="width: 15em"
      class="btn-search d-inline form-control me-1"
      type="search"
      name="title"
      placeholder="Search campgrounds"
      aria-label="Search"
    />
    <button
      class="d-inline-block btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >
      Search
    </button>
  </form>
</nav>
