<% layout('layouts/boilerplate.ejs') %>
<div class="container justify-content-centeralign-items-center mt-5">
  <div class="row">
    <div class="col-md-6 text-center offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow mb-4">
        <div class="card-body mb-5">
          <form novalidate action="/login" method="POST" class="validation-form"  >
            <div class="col-6 offset-3 mt-4">
              <h1 class="display-5 my-3">Login</h1>
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  required
                  placeholder=""
                  autofocus
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank!</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  required
                  placeholder=""
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank!</div>
              </div>
              <button class="btn btn-success">Sign in</button>
              <%- include('./captcha') %> 
            </div>
          </form>
        </div>
      </div>
      <div class="mt-3 pt-5 mb-5 text-center">
          <h3 class="fw-light">Don't have a account yet?</h3>
          <hr>
          <a class="btn btn-primary" href="/register">Register Now!</a>
      </div>
    </div>
  </div>
</div>


