<% layout('layouts/boilerplate.ejs') %>
<div class="container justify-content-centeralign-items-center mt-5">
  <div class="row">
    <div class="col-md-6 text-center offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow mb-4">
        <div class="card-body mb-3">
          <form novalidate action="/register" method="POST" class="validation-form"  >
            <div class="mb-5 col-6 offset-3">
              <h1 class="display-5 my-3">Register</h1>
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  required
                  placeholder=""
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank!</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input
                  class="form-control"
                  type="text"
                  id="password"
                  name="password"
                  required
                  placeholder=""
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank!</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Repeat Password</label>
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password2" 
                  required
                  placeholder=""
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank!</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  required
                  placeholder="email@example.com"
                />
                <div class="valid-feedback">Valid!</div>
                <div class="invalid-feedback">This form can't be blank or email pattern is invalid!</div>
              </div>
              <button class="btn btn-success">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>